.form {
  display: flex;
  background-color: rgb(243, 243, 243);
  padding: 8px;
  padding-bottom: 15px;
  border-radius: 8px;
  .userImg {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
  }

  .postComment {
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(24, 24, 24);
    text-decoration: none;
    background-color: transparent;
    margin-left: 4px;
  }
  .postComment:focus {
    outline: none;
    border-bottom: 2px solid rgb(14, 14, 14);
  }
  .postComment::placeholder {
    margin-top: -2px;
  }
}
