.cols{
    display: flex;
}
.commentSection{
    padding-left: 20px;
    color:rgb(58, 58, 58);
    font-weight:800px ; 
    width:60%;
}
.header{
    color: rgb(56, 56, 56);
    font-family: 'Martel', serif;     
     font-size: 40px;
    margin-bottom: 15px;
}
.verticalLine {
    border-left: 2px solid #757575;
    margin-left: 12px;
  }