.commentSection{
    padding-left: 20px;
    color:rgb(58, 58, 58);
    font-weight:800px ; 
    width:80%;
}
.header{
    color: rgb(56, 56, 56);
    font-family: 'Martel', serif;     
     font-size: 40px;
    margin-bottom: 15px;
}
