body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.no-com {
  background-color: aqua;
}
.example-div {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.example-row {
  display: flex;
  width: 100%;
}
.title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 20px;
}
.head-title {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .example-row {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
