/* add css module styles here (optional) */

.section{
  display: flex;
  flex-direction: column;
  width:50%;
    
  .inputBox{
    display: flex;
    width:100%;
  }  

  .inputActions{
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;

    .postBtn {
      color: white;
      text-align: center;
      background-size: 200% auto;
      font-weight:700;
      border-radius:5px;
      transition: 0.5s;
      padding:6px 16px;
      background-color: rgb(75, 204, 255);
      border:none;
      margin-right: 20px;

      &:hover {
        background-position: right center;
        cursor: pointer;

      }

      &:focus {
        outline:0;
      }
    }

    .cancelBtn {
      color: rgb(226, 93, 31);
      text-align: center;
      background-size: 200% auto;
      font-weight:700;
      border-radius:5px;
      transition: 0.5s;
      padding:6px 10px;
      border: 2px solid rgb(226, 93, 31);

      &:hover {
        background-position: right center;
        cursor: pointer;

      }

      &:focus {
        outline:0;
      }
    }

  }  
  
}


  .form{
    display: flex;
    .userImg{
      display: flex;
      width:10%;
    }

    .postComment{
      width:100%;
      border: none;
      border-bottom: 1px solid rgb(24, 24, 24);
      text-decoration: none;
      background-color: transparent;
    }
    .postComment:focus {
      outline:none;
      border-bottom: 2px solid rgb(14, 14, 14);
    }
  }



.displayComments{
  margin-top: 18px;
  margin-left: 38px;

  .halfDiv{
    display: flex;
    justify-content: space-between;

    .userInfo{
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
  
      .commentsTwo{
        display: flex;
        margin-top: 6px;
  
        .fullName{
          display: flex;
          margin-left: 10px;
        }
        .replyBtn{
          background-color: transparent;
          border:none;
          color: gray;
          outline:none;
          font-weight: 600;
          font-size:14px;
          margin: 0px 5px!important;
          width:70px;
          padding: 5px;
          border-radius: 4px;
  
          &:hover{
            outline:none;
            background-color: rgba(160, 160, 160, 0.315);
          }
          &:focus {outline:0;}
        }
        
      }
    }
    .userActions{
      margin-top: 20px;

      .actionsBtn{
        background-color: transparent;
        border: none;
        padding: 4px;

        &:hover{
          outline:none;
          background-color: rgba(160, 160, 160, 0.315);
        }
        &:focus {outline:0;}

        .actionDiv{
          font-size: 10.5px;
      font-family: 'Montserrat';
      padding: 5px;
      list-style: none;
      background-color: #c4c4c4;
      box-shadow: 3px 3px 3px #00000029;
        }
      }

    }
  }

  
  .replySection{
    margin-left: 35px;
    border-left: 2px solid rgb(199, 199, 199);
  }
  
}


