/* add css module styles here (optional) */

.section{
  display: flex;
  flex-direction: column;
  width:50%;


  .inputInfo{
    display: flex;

    .userImg{
      display: flex;
      width:5%;
    }
    .inputBox{
      display: flex;
      width:100%;


      .postComment{
        width:100%;
        border: none;
        border-bottom: 1px solid rgb(24, 24, 24);
        text-decoration: none;
        background-color: transparent;
      }
      .postComment:focus {
        outline:none;
        border-bottom: 2px solid rgb(14, 14, 14);
      }
    }
    
  }

  .inputActions{
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;

    .postBtn {
      color: white;
      text-align: center;
      background-size: 200% auto;
      font-weight:700;
      border-radius:5px;
      transition: 0.5s;
      padding:6px 16px;
      background-color: rgb(75, 204, 255);
      border:none;
      margin-right: 20px;

      &:hover {
        background-position: right center;
      }

      &:focus {
        outline:0;
      }
    }

    .cancelBtn {
      color: rgb(226, 93, 31);
      text-align: center;
      background-size: 200% auto;
      font-weight:700;
      border-radius:5px;
      transition: 0.5s;
      padding:6px 10px;
      border: 2px solid rgb(226, 93, 31);

      &:hover {
        background-position: right center;
        background-color: rgb(226, 93, 31);
      }

      &:focus {
        outline:0;
      }
    }

  }  
  
}
.displayComments{
  margin-top: 18px;
  margin-left: 38px;

  .userInfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .commentsTwo{
      display: flex;
      margin-top: 6px;

      .fullName{
        display: flex;
        margin-left: 10px;
      }
      .replyBtn{
        background-color: transparent;
        border:none;
        color: gray;
        outline:none;
        font-weight: 600;
        font-size:14px;
        margin: 0px 5px!important;
        width:70px;
        padding: 5px;
        border-radius: 4px;

        &:hover{
          outline:none;
          background-color: rgba(160, 160, 160, 0.315);
        }
        &:focus {outline:0;}
      }
      
    }
  }
}

